name: Haskell CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build_matrix:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-haskell@82e8b5066385702e477d9dc98f287070493e8abd
      with:
        ghc-version: '9.10.1'

    - name: build
      run: |
        ghc Main.hs -O -o umka-cheaders

    - name: upload artifact
      uses: actions/upload-artifact@v4
      with:
        path: umka-cheaders*
    
